body {
  font-family: Arial, sans-serif;
  background-color: #F4F4F4;
  padding: 30px;
  color: #333;
  background-image: url('https://img.wallpapic-br.com/i9511-935-519/thumb/cidade-paisagem-urbana-canada-arranha-ceus-imagem-de-fundo.jpg');
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #EFEFEF;
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input, select {
  box-sizing: border-box;
  margin: 5px 0;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus {
  border-color: #333974;
  box-shadow: 0 0 5px rgba(51, 57, 116, 0.5);
}

button {
  background-color: #333974;
  color: #FFF;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

button:hover {
  opacity: 1;
  transform: scale(1.05);
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.content {
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.complete {
  background-color: #5CB85C;
  color: #FFF;
}

.remove {
  background-color: #D9534F;
  color: #FFF;
}

.todo-form {
  padding-bottom: 1.5rem;
}

.search input {
  font-size: 20px;
}

.filter, .search {
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}
.category {
  margin-left: 10px;
  align-self: center; 
}

.todobotoes {
  display: flex;
  gap: 10px;
}
.button-order {
  margin-top: 2%;
  padding: 10px 20px;
  background-color: #555; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.button-order:hover {
  background-color: #45a049; 
  transform: scale(1.05); 
}
